/* ---------------------
    UI Styles Guide
------------------------*/

// Primary Colors
$primary-color:                                 #BE52F2;
$primary-color-02:                              #6979F8;
$primary-color-03:                              #212529;
$primary-color-04:                              #41A173;
$primary-color-05:                              #873F97;
$primary-color-06:                              #5646FF;

// Semantic Colors
$semantic-color:                                #FFCF5C;
$semantic-color-02:                             #FFE29D;
$semantic-color-03:                             #FFF8E7;
$semantic-color-04:                             #FFA26B;
$semantic-color-05:                             #FFC7A6;
$semantic-color-06:                             #FFE8DA;

// Neutral Colors
$semantic-color:                                #1A051D;
$semantic-color-02:                             #3F3356;
$semantic-color-03:                             #D0C9D6;
$semantic-color-04:                             #ECE9F1;
$semantic-color-05:                             #F7F5F9;
$semantic-color-06:                             #FFFFFF;
$semantic-color-07:                             #000000;
$semantic-color-08:                             #C4C4C4;

// Text Colors
$text-color:                                    #020203;
$text-color-2:                                  #C7CDD4;
$text-color-3:                                  #515256;
$text-color-4:                                  #66788A;
$text-color-5:                                  #4A4A4A;
$text-primary-color:                            #9EA0A5;
$text-secondary-color:                          #5C3564;
$title-colors:                                  #3A3B3F;

// Extra Colors
$background-color:                              #F5F7FB;
$background-color-2:                            #F5F7FB;
$background-color-3:                            #41A173;
$blocks-color:                                  #FFFFFF;
$input-color:                                   #F1F2F4;
$input-color-02:                                #F2F3F4;
$input-select-arrow-color:                      #757575;
$footer-border-color:                           #E4E7EB;
$footer-border-color-2:                         #E7EAED;


$icon-color:                                    #5C3564;
$icon-color-02:                                 #66788A;

// Button Colors
$button-base-color:                             #868686;
$button-primary-color:                          #5C3564;
$button-success-color:                          #47B881;
$button-border-success-color:                   #41A273;

// Form Colors
$label-form-color:                              rgba(58, 59, 63, 0.8);

// Icons Colors
$icon-success-color:                            #47B881;

// Modal Colors
$modal-title:                                   #3A3B3F;

// Validation
$error-color:                                   #dc3545;
$error-color-2:                                 #BF0E08;
$success-color:                                 #47B881;

// Badges
$color-badge-bg--success:                       #E6FFE7;
$color-badge-border--success:                   #67C597;