.mat-table {
    width: 200%;
    background: transparent;
    @media only screen and (min-width: 767px) {
        width: 100%;
    }
    td {
        color: $semantic-color;
        &.mat-cell {
            border-bottom-color: $footer-border-color;
            // &:first-of-type {
            //     padding-left: 0;
            // }
        }
        &.mat-footer-cell {
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
    th {
        color: $text-color;
        // &.mat-header-cell {
        //     &:first-of-type {
        //         padding-left: 0;
        //     }
        // }
    }
    &.mat-table-lines {
        th {
            color: $text-color-4;
            text-transform: uppercase;
            @include fontSize(10px);
            font-weight: 400;
        } 
    }
}